# compiled output
.ipynb_checkpoints
tmp
/data/encoded_features/*
/data/x_train_alpha/*
/data1m/*

# IDEs and editors
/.idea
.vscode
.project
.classpath
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

metrics
model.py